* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    background-color: #FFD868;
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}

.left-header {
    width: 100%;
    margin: 150px 50px;
    font-family: Helvetica Neue;
    font-weight: 700;
    text-align: left;
}

header h1 {
    font-size: 80px;
    color: #721B65;
    letter-spacing: 0em;
    line-height: 98px;
}

header img {
    width: 100%;
    height: auto;
}

header p {
    margin-top: 20px;
    color: #00000099;
    line-height: 20px;
    font-size: 20px;
}

.button {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.carlas {
    width: 275px;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #721B65;
    background-color: white;
}

.promo {
    width: 275px;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #721B65;
    color: white;
}

/*aside*/
aside {
    background-color: white;
    height: auto;
}

.gabung {
    width: 100%;
    display: flex;
    margin: 50px auto;

}

aside img {
    width: 60%;
    height: auto;
    margin-right: 20px;
}

.right-aside {
    padding-top: 90px;
    font-family: Helvetica Neue;
    font-weight: 700;
    text-align: left;

}

aside h1 {
    width: 100%;
    font-size: 60px;
    color: #838181;
}

aside p {
    font-family: Helvetica Neue;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.promo2 {
    width: 205px;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #721B65;
    color: white;
}

aside a {
    margin-left: 250px
}

/*main*/
main {
    width: 100%;
    height: auto;
    background-color: #FFD868;
    margin: 0;
    text-align: center;
}

main h1 {
    margin: 30px auto;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}

.layout {
    width: 90%;
    display: flex;
    margin: 10px auto;
    padding-left: 5%;
    box-sizing: border-box;
}

.v-1 {
    width: 300px;
    height: 410px;
    background-color: #721B65;
    border: 2px solid black;

}
.layout img {
    width: 100%;
}
.layout p {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.lainnya {
    margin: 5% auto;
    font-size: 20px;
    text-align: center;
}

.lainnya a {
    color: black;
    text-decoration: none;
}

/* footer */
footer {
    background-color: white;
    height: 700px;
    text-align: center;
}

footer h1 {
    font-size: 60px;
    color: #838181;
    margin-top: 90px;
}

footer p {
    font-family: Helvetica Neue;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0em;
    margin: 20px;
}

.sosmed {
    width: 100%;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
}

.lingkar {
    width: 83px;
    height: 83px;
    background-color: #721B65;
    border-radius: 50%;
    box-sizing: border-box;
}

.logo-sosmed {
    line-height: 130px;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    header{
        margin-top: -10%;
    }
    header h1 {
        font-size: 70px;
        color: #721B65;
        letter-spacing: -6px;
        line-height: 98px;
    }

    header img {
        width: 43%;
    }

    header p {
        margin-top: 20px;
        color: #00000099;
        line-height: 20px;
        font-size: 20px;
    }

    .button {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .carlas {
        width: 175px;
    }

    .promo {
        width: 175px;
    }

    /* aside*/
    aside img {
        width: 50%;
        height: auto;
    }

    aside h1 {
        font-size: 50px;
    }

    aside a {
        margin-left:50%;
    }

    /*main*/
    /* footer */
    footer {
        padding: 20px;
    }

    footer h1 {
        font-size: 55px;
    }

    .sosmed {
        width: 100%;
        margin: 60px auto;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:868px) {
    .left-header {
        text-align: center;
    }
    header h1 {
        font-size: 55px;
        color: #721B65;
        letter-spacing: 0em;
        line-height: 98px;
    }

    header p {
        margin-top: 20px;
        color: #00000099;
        line-height: 20px;
        font-size: 20px;
    }

    .button {
        margin: 30px auto;
        display: block;
    }

    header img {
        display: none;
    }
    .carlas {
        width: 70%;
        margin-bottom: 20px;
    }
    .promo{
        width: 70%;
    }

    /* aside*/
    aside {
        height: auto;
    }

    .gabung {
        display: inline-block;
    }

    aside img {
        width:100%;
        height: auto;
        margin: 10px auto 0;
    }

    .right-aside {
        width:100%;
        text-align: center;
    }

    aside h1 {
        width:100%;
        text-align: center;
        font-size: 30px;
        margin: -50px auto 20px;
    }

    aside p {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
    aside a {
        margin-left:0;
    }
    .promo3{
        width: 40%;
    }
}
@media screen and (max-width: 576px) {
    
    .left-header {
        margin: 0 auto;
    }

    header h1 {
        font-size: 50px;
    }

    header p {
        line-height: 20px;
        font-size: 18px;
    }
/*main*/
    main {
        height: auto;
    }
    main h1 {
        font-size: 50px;
    }
    /* footer */

    .sosmed {
        width: 20%;
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .lingkar {
        margin-bottom: 30%;
    }
}
